
.taskAdd__form {
    display: flex;
    flex-direction: column;
    & .taskInput {
        display: block;
        background-color: white;
        border-color: rgb(187, 187, 187);
        border-radius: 5px;
    }
    & :disabled {
        display: none;
    }
}

.taskAdd {
    display: flex;
}