.taskListDirectory {
    background-color: #8599a3;
    width: 250px;
    height: 100%;
    padding: 0 20px;
}

.taskListDirectury__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskList__input {
    display: block;
    text-align: left;
    height: 30px;
    width: 100px;
    font-size: 13px;
    font-weight: 600;
    background-color: #8599a3;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
    &:disabled {
        border: 1px solid #8599a3;
    }
    &:hover {
        text-shadow: 3px 3px 10px rgb(27, 55, 87);
    }
}

.taskList__button {
    float: right;
    &:disabled {
        display: none;
    }
}

.taskListAdd {
    & button, input{
        &:disabled{
        display: none;
    }}
}

// .taskList-button {
//     display: block;
//     text-align: left;
//     width: 150px;
//     font-size: 15px;
//     background-color: #8599a3;
//     border: 1px solid black;
//     margin: 0;
//     :hover {
//         background-color: #335463;
//     }
// }