.taskListDirectury__item {
    display: flex;
    color: #b1b1b1;
    justify-content: space-between;
    align-items: center;
}

.taskList__input {
    display: block;
    text-align: left;
    height: 30px;
    width: 100px;
    font-size: 13px;
    font-weight: 600;
    background-color: #424242;
    margin: 0;
    border: 1px solid #6e6e6e;
    border-radius: 5px;
    color: #b1b1b1;
    transition: 0.5s;
    &:disabled {
        border: 1px solid #424242;
    }
    &:hover {
        color:rgb(72, 156, 252);
    }
}

.taskList__button {
    float: right;
    color: #b1b1b1;
}